[submodule "roles/k14"]
	path = roles/k14
	url = git@github.com:chris-sanders/ansible_k14.git
[submodule "roles/metallb"]
	path = roles/metallb
	url = git@github.com:chris-sanders/k14_metallb.git
[submodule "roles/traefik"]
	path = roles/traefik
	url = git@github.com:chris-sanders/k14_traefik.git
[submodule "roles/bitwarden"]
	path = roles/bitwarden
	url = git@github.com:chris-sanders/k14_bitwarden.git
[submodule "roles/ceph-csi-rbd"]
	path = roles/ceph-csi-rbd
	url = git@github.com:chris-sanders/k14_ceph_csi_rbd.git
[submodule "roles/ceph-csi-cephfs"]
	path = roles/ceph-csi-cephfs
	url = git@github.com:chris-sanders/k14_ceph_csi_cephfs.git
[submodule "roles/cert_manager"]
	path = roles/cert-manager
	url = https://github.com/chris-sanders/k14_cert_manager.git
[submodule "roles/acme-dns"]
	path = roles/acme-dns
	url = https://github.com/chris-sanders/k14_acme_dns.git
